@use './base.scss';

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family:
    Alibaba PuHuiTi 2,
    Alibaba PuHuiTi 20;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

.mTable {
  --el-table-header-bg-color: #f5f7fa;
  border-radius: 10px 10px 0 0;
}

.flex-scrollbar {
  flex: 1;
  height: 0;
  display: flex;
  flex-direction: column;
}

.flex-scrollbar .el-scrollbar__wrap {
  flex: 1;
  height: 0;
}

.el-slider {
  padding: 0 12px;
}
