/** 
* 本文件为 element-ui 的样式文件，覆盖 element-ui 样式
* 变量请不要写在当前文件中，如需修改变量，请在 element-variables.scss 文件中修改
*/

@import "@/assets/css/element.variables.scss";

.el-dropdown-menu__item.is-disabled {
  color: var(--color-text-placeholder);
}
.el-color-picker__mask {
  background-color: rgb(from var(--color-white) r g b / 0.5);
}
.el-color-picker__trigger {
  border: 1px solid var(--border-color-base);
}

.el-zoom-in-right-enter-active,
.el-zoom-in-right-leave-active {
  opacity: 1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
.el-zoom-in-right-enter,
.el-zoom-in-right-leave-active {
  opacity: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.el-table.small .el-table__cell {
  padding: 5px 0 !important;
  line-height: 23px;
}

.el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell {
  background: var(--background-color-light) !important;
}

.el-descriptions-item__label.is-bordered-label {
  background-color: var(--background-color-base);
}
