html,
body {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text-primary);
  overflow-x: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-text-primary);
}

input::placeholder {
  color: var(--color-text-placeholder) !important;
}

.ba_box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  gap: 15px;
}

.ba_box a {
  text-decoration: underline;
  color: #fff;
  font-size: 14px;
}

@font-face {
  font-family: wending;
  src: url("./DigitalNumbers-Regular.ttf");
}
