html,
body {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text-primary);
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--color-text-primary);
}

input::placeholder{
  color: var(--color-text-placeholder) !important;
}

@font-face {
  font-family: wending;
  src: url("./DigitalNumbers-Regular.ttf");
}
