* {
  font-family: Verdana, Geneva, sans-serif;
}

html,
body {
  padding: 0;
  border: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.p-draw-board .p-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: #fff;
}

/* 弹窗 */
.p-window {
  position: fixed;
  width: 300px;
  height: auto;
  top: 84px;
  right: 20px;
  z-index: 9999;
  display: none;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
}
.p-window-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: none;
  background-color: rgb(0, 0, 0, 0.6);
}
.p-window .p-header {
  padding: 24px 24px 16px 24px;
  background-color: #fff;
  user-select: none;
  border-bottom: 1px solid #eeeeee;
  position: relative;
}
.p-window .p-header .p-left {
  color: #000;
  font-size: 18px;
  padding-right: 20px;
}
.p-window .p-header .p-right {
  color: #000;
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 24px;
}
.p-window .p-body {
  height: 100%;
  max-height: calc(100vh - 250px);
  overflow-y: auto;
  background-color: white;
  padding: 20px 24px;
}

/* 表单元素 */
.p-col {
  box-sizing: border-box;
}
.p-form {
  padding-bottom: 24px;
}
.p-form .p-title {
  font-size: 14px;
  color: #333333;
  padding-bottom: 8px;
}
.p-form .p-element {
  width: 100%;
  text-align: left;
}
.p-form .p-help-msg {
  width: 72%;
  height: auto;
  color: #bbbbbb;
  font-size: 12px;
  margin: 0px 3% 0px 25%;
  float: right;
  text-align: left;
}
.p-form .p-error-msg {
  width: 72%;
  height: auto;
  color: red;
  font-size: 12px;
  margin: 0px 3% 0px 25%;
  float: right;
  text-align: left;
}
.p-form .p-element input {
  width: 96%;
  height: 25px; /*height+(padding+border)X2 = title.height*/
  padding: 1px 8px;
  border: 1px solid #999999;
  border-radius: 5px;
}
.p-form .p-element input[type="radio"] {
  vertical-align: middle;
  height: 28px;
  margin-top: 1px;
  width: auto;
}
.p-form .p-element input[type="checkbox"] {
  height: 27px;
  vertical-align: middle;
  margin-top: 2px;
  width: auto;
}
.p-form .p-element input:focus {
  outline: none;
  border: 1px solid #ff9966;
  border-radius: 5px;
}
.p-form .p-element select {
  width: 100%;
  height: 29px;
  border: 1px solid #999999;
  border-radius: 5px;
  padding: 1px 8px;
}
.p-form .p-element select option {
  color: #666666;
  font-size: 13px;
  border: 1px solid #999999;
  border-radius: 5px;
}
.p-form .p-element select:focus {
  outline: none;
  border: 1px solid #ff9966;
  border-radius: 5px;
}
.p-form .p-element textarea {
  width: 96%;
  height: 40px;
  border: 1px solid #999999;
  border-radius: 5px;
  padding: 1px 8px;
}
.p-form .p-element span {
  width: 96%;
  height: 25px;
  line-height: 25px;
  border: 1px solid #999999;
  border-radius: 5px;
  margin: 0px;
  padding: 1px 8px;
  font-size: 13px;
  display: block;
}
.p-form .p-element .p-element-file {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.p-form .p-element .p-element-file input {
  width: 0;
  flex: 1;
}
.p-form .p-element .p-element-file span {
  width: auto;
  padding: 0px 5px;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  border: 1px solid #087fff;
  border-radius: 4px;
  color: white;
  background-color: #087fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.p-margin-30 {
  margin: 30px;
}

/* 按钮 */
.p-buttons {
  display: block;
  text-align: center;
}
.p-buttons.p-left {
  text-align: left;
}
.p-buttons.p-right {
  text-align: right;
}
.p-buttons .p-button {
  min-width: 50px;
  width: auto;
  padding: 8px 20px;
  margin: 0px 10px;
  font-size: 14px;
  border: 1px solid #087fff;
  border-radius: 4px;
  color: white;
  background-color: #087fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
.p-buttons.p-left .p-button {
  margin-left: 0px;
  margin-right: 10px;
}
.p-buttons.p-right .p-button {
  margin-left: 10px;
  margin-right: 0px;
}

/* 网格 */
.p-grid {
  width: 100%;
  border-collapse: separate;
  border-spacing: 20px 20px;
}
.p-grid td {
  height: 90px;
  background: #ff9966;
  border: 1px solid #ff9966;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

/* 画板 */
.p-draw-board {
  width: 100%;
  height: 100%;
  min-width: 800px;
  position: relative;
  background: #f3f3f5;
  overflow-y: hidden;
  overflow-x: hidden;
}
.p-draw-board .p-draw-region {
  position: absolute;
  border: 1px solid #ffcc99;
}
.p-draw-board .p-toolbar {
  position: absolute;
  z-index: 9999;
  top: 84px;
  left: 20px;
  bottom: 20px;

  width: 100px;
  background-color: #fff;
  border-radius: 8px;
}
.p-draw-board .p-toolbar .p-head {
  padding: 0px;
  width: 100%;
  height: 10px;
  display: block;
  cursor: pointer;
}
.p-draw-board .p-toolbar .p-tool {
  width: 100%;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.p-draw-board .p-toolbar .p-tool span {
  margin: 5%;
  width: 40%;
  height: 30px;
  line-height: 30px;
  padding: 0px;
  display: inline-block;
  background-color: #f5f5f5;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}
.p-draw-board .p-toolbar .p-tool span img {
  object-fit: contain;
}
.p-draw-board .p-toolbar .p-tool .p-divide-line {
  margin: 5%;
  width: 90%;
  height: 1px;
  background-color: #eee;
  overflow: hidden;
  float: left;
  display: block;
  text-align: center;
}
.p-draw-board .p-panel {
  width: 100%;
  height: 100%;
  min-height: 200px;
  background-image: url("../image/point.svg");
  background-repeat: repeat;
}
.p-draw-board .p-panel .p-draw-exterior {
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-left: 0px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  border: 2px dashed rgba(255, 255, 255, 0);
}
.p-draw-board .p-panel .p-draw-exterior:focus {
  outline: none;
}
.p-draw-board .p-panel .p-draw-shape-focus {
  border: 2px dashed #99ccff;
}
.p-draw-board .p-panel .p-draw-shape {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
}
.p-draw-board .p-panel .p-draw-shape svg {
  cursor: move;
}
.p-draw-board .p-panel .p-draw-exterior .p-point-left {
  float: left;
  margin-left: -12px;
  width: 10px;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.p-draw-board .p-panel .p-draw-exterior .p-point-right {
  float: right;
  margin-right: -12px;
  width: 10px;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.p-draw-board .p-panel .p-draw-connect {
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
line:focus {
  outline: none;
}

/* 图标 */
.p-icon {
  border: 1px solid black;
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-left: 0px;
}
.p-icon .p-shade {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-left: 0px;
}
.p-icon .p-close {
  background-color: black;
  color: white;
  position: absolute;
  z-index: 11;
  width: 15px;
  height: 15px;
  margin-top: 0px;
  margin-left: 35px;
}

/* tab标签组 */
.p-tabs {
  width: 100%;
}
.p-tabs .p-tabs-title {
  width: 100%;
  margin: 0px 0px 1px 0px;
  padding: 0px;
  list-style: none;
  letter-spacing: 0px;
}
.p-tabs .p-tabs-title li {
  width: 7%;
  min-width: 50px;
  padding: 0px 5px;
  margin: 5px 0px -5px 0px;
  display: inline-block;
  line-height: 30px;
  color: #cccccc;
  border: 1px solid #cccccc;
  border-bottom: 1px solid #ff9966;
  border-radius: 10px 10px 0px 0px;
}
.p-tabs .p-tabs-title li.p-checked {
  border: 1px solid #ff9966;
  background-color: #ff9966;
  color: white;
}
.p-tabs .p-tabs-title li .p-left {
  width: auto;
  max-width: 60%;
  display: block;
  float: left;
  text-align: left;
  padding-right: 10px;
  overflow: hidden;
}
.p-tabs .p-tabs-title li .p-right {
  display: block;
  width: 12px;
  display: block;
  float: right;
  text-align: center;
}
.p-tabs .p-tabs-body .p-tabs-tab {
  width: 98%;
  height: auto;
  padding: 1%;
  overflow-y: auto;
  border: 1px solid #ff9966;
  border-radius: 0px 0px 10px 10px;
  display: none;
}
.p-tabs .p-tabs-body .p-tabs-tab.p-checked {
  display: block;
}

/* 页码 */
.p-page {
  width: 100%;
  display: block;
  margin: 5px 1%;
}
.p-page span {
  width: auto;
  padding: 5px 10px;
  margin: 0px 3px;
  display: inline-block;
  border: 1px solid #ff9966;
  border-radius: 5px;
  color: #ff9966;
  cursor: pointer;
}
.p-page span span {
  padding: 0px;
  margin: 0px 6px 0px 0px;
  font-size: 14px;
  border: 0px;
  cursor: auto;
}
.p-page span input {
  padding: 0px;
  margin: 0px;
  width: 30px;
}
.p-page span.p-forbid {
  cursor: not-allowed;
}
.p-page span.p-checked {
  background-color: #ff9966;
  color: white;
  cursor: not-allowed;
}

/* 导航条 */
.p-nav-main {
  width: 100%;
  height: auto;
  display: block;
  background-color: #ff9966;
  text-align: center;
}
.p-nav-children {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  z-index: 999999;
  margin-top: 0px;
  background-color: #ffbb77;
  text-align: center;
}
.p-nav-list {
  width: 100%;
  height: auto;
  display: block;
  padding: 5px 0px;
  margin-top: 0px;
}
.p-nav-main .p-nav-list {
  padding: 0px;
}
.p-nav-children .p-nav-list {
  border-bottom: 1px solid white;
  display: none;
}
.p-nav-list .p-nav-group {
  width: auto;
  height: auto;
  display: inline-block;
  padding: 5px;
  margin: 0px 20px;
}
.p-nav-list .p-nav-group .p-title {
  width: 100%;
  height: auto;
  padding: 3px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: block;
  text-align: left;
}
.p-nav-list .p-nav-group .p-children {
  width: 100%;
  padding: 3px;
  height: auto;
  color: white;
  font-size: 14px;
  display: block;
  text-align: left;
}
.p-nav-list .p-nav-group .p-children .p-nav-node {
  width: 100%;
  height: auto;
  padding: 3px 0px;
  display: block;
  cursor: pointer;
}
.p-nav-list .p-nav-group .p-children .p-nav-node:hover {
  /* font-weight:bold; */
  color: #ffffcc;
}

/* 文本元素 */
.p-content {
  width: 98%;
  height: auto;
  display: block;
  margin: 1%;
  padding: 1%;
  overflow: hidden;
  border: 1px solid #ffbb77;
  box-sizing: border-box;
  border-radius: 10px;
  color: #ffbb77;
}
.p-content .p-content-img {
  width: 28%;
  padding: 0px 1%;
  height: 100%;
  display: block;
  float: left;
  box-sizing: border-box;
}
.p-content .p-content-title {
  width: 68%;
  padding: 0px 1%;
  min-height: 35px;
  line-height: 35px;
  display: block;
  font-weight: bold;
  font-size: 20px;
  float: left;
  cursor: pointer;
}
.p-content .p-content-operations {
  width: 68%;
  padding: 5px 1%;
  display: block;
  float: left;
}
.p-content .p-content-operations .p-operation {
  width: auto;
  height: 25px;
  line-height: 25px;
  display: block;
  cursor: pointer;
}
.p-content .p-content-operations .p-operation.p-left {
  float: left;
  margin-right: 15px;
}
.p-content .p-content-operations .p-operation.p-left img {
  margin-right: 6px;
}
.p-content .p-content-operations .p-operation.p-right {
  float: right;
  margin-right: 15px;
}
.p-content .p-content-operations .p-operation.p-right span {
  margin-left: 6px;
}
.p-content .p-content-operations .p-operation img {
  width: auto;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.p-content .p-content-operations .p-operation span {
  width: auto;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.p-content .p-content-text {
  width: 68%;
  padding: 5px 1%;
  min-height: 30px;
  display: block;
  float: left;
  word-break: break-all;
  text-align: left;
}
.p-content .p-content-text span {
  width: 100%;
  min-height: 25px;
  line-height: 25px;
  display: block;
}

/* 列表元素 */
.p-list {
  width: 100%;
  height: auto;
  display: block;
}
.p-list .p-list-item {
  width: auto;
  height: auto;
  display: inline-block;
}

/* 表格 */
.p-table {
  width: 100%;
  border-collapse: collapse;
  border: 0px;
}
.p-table tr {
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.p-table thead tr {
  background-color: #ffcc99;
}
.p-table tbody tr:nth-child(2n) {
  background-color: #ffefdf;
}
.p-table tbody tr:hover {
  background-color: #ffcc99;
}

/* 排版 */
.c-center {
  text-align: center;
}
.c-col-1 {
  width: 5%;
  display: inline-block;
}
.c-col-1 {
  width: 5%;
  display: inline-block;
}
.c-col-2 {
  width: 10%;
  display: inline-block;
}
.c-col-3 {
  width: 15%;
  display: inline-block;
}
.c-col-4 {
  width: 20%;
  display: inline-block;
}
.c-col-5 {
  width: 25%;
  display: inline-block;
}
.c-col-6 {
  width: 30%;
  display: inline-block;
}
.c-col-7 {
  width: 35%;
  display: inline-block;
}
.c-col-8 {
  width: 40%;
  display: inline-block;
}
.c-col-9 {
  width: 45%;
  display: inline-block;
}
.c-col-10 {
  width: 50%;
  display: inline-block;
}
.c-col-11 {
  width: 55%;
  display: inline-block;
}
.c-col-12 {
  width: 60%;
  display: inline-block;
}
.c-col-13 {
  width: 65%;
  display: inline-block;
}
.c-col-14 {
  width: 70%;
  display: inline-block;
}
.c-col-15 {
  width: 75%;
  display: inline-block;
}
.c-col-16 {
  width: 80%;
  display: inline-block;
}
.c-col-17 {
  width: 85%;
  display: inline-block;
}
.c-col-18 {
  width: 90%;
  display: inline-block;
}
.c-col-19 {
  width: 95%;
  display: inline-block;
}
.c-col-20 {
  width: 100%;
  display: inline-block;
}
