<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>static/img/favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=3kc8Adbc2OX8U6wUDr3DWOfUCMboxWrq"></script>
    <!-- <script src="<%= BASE_URL %>static/js/config.js"></script>
    <script src="<%= BASE_URL %>pt/main/getJsConfig/config.js"></script> -->
    <script>
      // geojson地图坐标系转换配置
      proj4Config = function (proj4) {
        proj4.defs("EPSG:4526", "+proj=tmerc +lat_0=0 +lon_0=114 +k=1 +x_0=38500000 +y_0=0 +ellps=GRS80 +units=m +no_defs");
        proj4.defs("urn:ogc:def:crs:OGC:1.3:CRS84", proj4.defs("EPSG:4326"));
      };

      function loadScript(url, onload, onerror) {
        var script = document.createElement("script");
        script.src = url;
        script.onload = onload;
        script.onerror = onerror;
        document.head.appendChild(script);
      }

      loadScript("<%= BASE_URL %>pt/main/getJsConfig/config.js", null, function () {
        loadScript("<%= BASE_URL %>static/js/config.js");
      });
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
