/* ---public---- */
.centerBox {
  width: 75%;
  margin-right: 15px;
  background: transparent;
}

.boxFont {
  font-size: 1.2vw;
}

.centerMainBox1 {
  width: 100%;
  height: 60.5%;
}

.centerMainBox2 {
  width: 1390px !important;
  height: 243px !important;
  position: relative;
  margin-top: 15px;
}

.centerMainBox2 .first_border {
  position: absolute;
  width: 100%;
  height: 100%;
}

.boxTitle2 {
  width: 100%;
  height: 10%;
  font-size: 0.6vw;
  text-align: center;
  line-height: 10%;
  margin-top: 1vw;
  color: #0efcff;
}

.contList {
  position: relative;
  width: 70%;
  height: 8vw;
  margin: 1vw auto 0;
}

.content1 li {
  display: none;
}

.baseBox {
  width: 100%;
  border: none;
  background: none;
}

.boxTitle {
  font-size: 0.8vw;
  width: 38%;
  margin-top: 1vw;
  text-align: center;
}

.right {
  float: right;
}

.baseBoxLeft {
  /* position: absolute; */
  position: relative;
  width: 417px;
  height: 530px;
  /* width: 30%;
  height: 95%;
  position: relative; */
}

.baseBoxRight {
  width: 68%;
  height: 100%;
}

.baseBoxLeft .first_border {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.baseBox1,
.baseBox2,
.baseBox3 {
  position: relative;
}

.baseBox1 .hardware,
.baseBox2 img,
.baseBox3 img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.csbaseBox1 {
  position: relative;
  z-index: 999;
}

#canvas {
  display: block;
  margin: 0 auto;
  width: 10vw;
  height: 5vw;
}

.progress {
  position: relative;
}

.progress img {
  width: 12.5vw;
  height: 2vw;
  position: absolute;
  top: 0.4vw;
  right: -0.2vw;
}

.progress .disease {
  position: absolute;
  top: 0.7vw;
  left: 0.5vw;
  color: #fff;
  font-size: 0.8vw;
}

.progress .similar {
  position: absolute;
  top: 0.8vw;
  left: 3vw;
  color: #0efcff;
  font-size: 0.5vw;
}

/* 返回图标 */
.navLeft {
  position: absolute;
  top: 5%;
  left: 35%;
  width: 3.5%;
  height: 8%;
  z-index: 999;
}

.navLeft > img {
  width: 100%;
  height: 100%;
}

.baseBoxLeft {
  z-index: 50 !important;
  position: absolute !important;
  width: 22vw !important;
  height: 58vh !important;
  top: 6vh !important;
  left: 2vw !important;
}
.centerMainBox2 {
  z-index: 50 !important;
  position: absolute !important;
  width: 72vw !important;
  height: 25vh !important;
  top: 68vh !important;
  left: 2vw !important;
}
.baseBox1 {
  z-index: 50 !important;
  position: absolute !important;
  width: 22vw !important;
  height: 32vh !important;
  top: 6vh !important;
  right: 2vw !important;
}
.baseBox2 {
  z-index: 50 !important;
  position: absolute !important;
  width: 22vw !important;
  height: 25vh !important;
  top: 42vh !important;
  right: 2vw !important;
}
.baseBox3 {
  z-index: 50 !important;
  position: absolute !important;
  width: 22vw !important;
  height: 25vh !important;
  top: 70vh !important;
  right: 2vw !important;
}
