html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: url("./static/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  width: calc(100vw - 80px);
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #fff;
  display: flex;
  align-items: center;
}
.logo {
  width: auto;
  height: 60px;
  margin-right: 20px;
  margin-top: 5px;
}

.scrollbar {
  width: calc(100vw - 100px);
  height: calc(100vh - 160px);
  overflow-y: auto;
}
.scrollbar::-webkit-scrollbar {
  display: none;
}
.list {
  width: calc(100vw - 100px);
  display: grid;
  grid-template-areas:
    "box1 box1 box2 box2"
    "box3 box3 box4 box5";
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.group {
}
.group_title {
  color: #fff;
  width: 100%;
  flex-grow: 0;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

.group_body {
  display: grid;
  gap: 10px;
}

.item {
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
  font-size: 18px;
}
.item_icon {
  display: block;
  width: auto;
  height: 70px;
}

.box1 {
  grid-area: box1;
}
.box1 .group_body {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px;
}
.box1 .item {
  background-color: #9acd32;
}

.box2 {
  grid-area: box2;
}
.box2 .group_body {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row dense;
  grid-gap: 10px;
  grid-auto-rows: 200px;
}
.box2 .item {
  background-color: #f0704b;
}

.box3 {
  grid-area: box3;
}

.box3 .group_body {
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row dense;
  grid-gap: 10px;
  grid-auto-rows: 130px;
}
.box3 .item {
  flex-direction: row;
  gap: 10px;
  font-size: 30px;
  align-items: center;
  background-color: #52b3ba;
}

.box4 {
  grid-area: box4;
}

.box4 .group_body {
  grid-template-columns: 1fr;
  grid-auto-flow: row dense;
  grid-gap: 10px;
  grid-auto-rows: 130px;
}
.box4 .item {
  flex-direction: row;
  gap: 10px;
  font-size: 30px;
  align-items: center;
}
.box4 .item {
  flex-direction: row;
  gap: 10px;
  font-size: 30px;
  align-items: center;
  background-color: #0070c0;
}

.box5 {
  grid-area: box5;
}
.box5 .group_body {
  grid-template-columns: 1fr;
  grid-auto-flow: row dense;
  grid-gap: 10px;
  grid-auto-rows: 130px;
}
.box5 .item {
  flex-direction: row;
  gap: 10px;
  font-size: 30px;
  align-items: center;
}
.box5 .item {
  flex-direction: row;
  gap: 10px;
  font-size: 30px;
  align-items: center;
  background-color: #008000;
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 7vw;
    line-height: 10vw;
    margin-bottom: 5vw;
    display: flex;
    align-items: center;
  }
  .logo {
    width: auto;
    height: 8vw;
    margin-right: 2vw;
    margin-top: 1vw;
  }

  .scrollbar {
    width: 90vw;
    height: calc(100vh - 30vw);
  }
  .list {
    padding-top: 2vw;
    width: 90vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "box1 box1"
      "box2 box2"
      "box3 box3"
      "box4 box5";
  }
}
