html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: url("./static/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.title {
  width: calc(100vw - 200px);
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
}
.logo {
  width: auto;
  height: 60px;
  margin-right: 20px;
  margin-top: 5px;
}

.scrollbar {
  width: calc(100vw - 200px);
  height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
}
.scrollbar::-webkit-scrollbar {
  display: none;
}
.list {
  width: calc(100vw - 200px);
  display: grid;
  grid-template-areas:
    "box1 box1"
    "box2 box2"
    "box3 box3"
    "box4 box5";
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  /* display: flex;
  flex-direction: column;
  gap: 10px; */
}

.group {
}
.group_title {
  color: #fff;
  width: 100%;
  flex-grow: 0;
  padding: 0 10px 10px 10px;
  font-size: 30px;
  font-weight: bold;
}

.group_body {
  display: grid;
  gap: 10px;
}

.item {
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 30px;
  line-height: 1;
}
.item_icon {
  display: block;
  width: auto;
  height: 70px;
}

.box1 {
  grid-area: box1;
}
.box1 .group_body {
  grid-template-columns: repeat(5, 1fr);
}
.box1 .item {
  background-color: #9acd32;
}

.box2 {
  grid-area: box2;
}
.box2 .group_body {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row dense;
  grid-gap: 10px;
}
.box2 .item {
  background-color: #f0704b;
}
.box2 .item2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  background-color: #f0704b;
}

.box3 {
  grid-area: box3;
}

.box3 .group_body {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row dense;
  grid-gap: 10px;
}
.box3 .item {
  background-color: #52b3ba;
}

.box4 {
  grid-area: box4;
}

.box4 .group_body {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row dense;
  grid-gap: 10px;
}
.box4 .item {
  background-color: #0070c0;
}

.box5 {
  grid-area: box5;
}
.box5 .group_body {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row dense;
  grid-gap: 10px;
}
.box5 .item {
  background-color: #008000;
}

@media screen and (max-width: 1350px) {

  .list {
    grid-template-areas:
      "box1 box1"
      "box2 box2"
      "box3 box3"
      "box4 box4"
      "box5 box5";
  }

  .item {
    font-size: 25px;
  }

  .box1 .group_body {
    grid-template-columns: repeat(3, 1fr);
  }

  .box2 .group_body {
    grid-template-columns: repeat(3, 1fr);
  }
  .box3 .group_body {
    grid-template-columns: repeat(3, 1fr);
  }
  .box4 .group_body {
    grid-template-columns: repeat(3, 1fr);
  }
  .box5 .group_body {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  body {
    gap: 3vh;
  }
  .title {
    width: 90vw;
    font-size: 7vw;
    line-height: 10vw;
    display: flex;
    align-items: center;
  }
  .logo {
    width: auto;
    height: 8vw;
    margin-right: 2vw;
    margin-top: 1vw;
  }

  .scrollbar {
    width: 90vw;
    height: calc(100vh - 3vh - 10vw - 10vh);
  }
  .list {
    padding-top: 2vw;
    width: 90vw;
    grid-template-areas:
      "box1 box1"
      "box2 box2"
      "box3 box3"
      "box4 box4"
      "box5 box5";
  }
  .group_title {
    color: #fff;
    width: 100%;
    flex-grow: 0;
    padding: 0 10px 10px 10px;
    font-size: 5vw;
    font-weight: bold;
  }

  .item_icon {
    display: block;
    width: auto;
    height: 10vw;
  }

  .item {
    font-size: 3.2vw;
  }

  .box1 .group_body {
    grid-template-columns: repeat(2, 1fr);
  }

  .box2 .item2 {
    font-size: 1.8vw;
  }

  .box2 .group_body {
    grid-template-columns: repeat(2, 1fr);
  }
  .box3 .group_body {
    grid-template-columns: repeat(2, 1fr);
  }
  .box4 .group_body {
    grid-template-columns: repeat(2, 1fr);
  }
  .box5 .group_body {
    grid-template-columns: repeat(2, 1fr);
  }
}
