.LocalMapLayer_menu {
  position:absolute;
  z-index: 999;
  top: 40px;
  left: 0px;
  height: 390px;
  width: 40px;
  overflow: hidden;
  background: #00000038;
  transition: width 0.3s;
  border-radius: 5px;
  box-shadow: 0 0px 15px rgba(255, 255, 255, 0.8);
  padding: 10px;
}
.LocalMapLayer_menu.hide {
  /* width: 50px !important; */
  height: 0px !important;
  padding: 0px !important;
}
.LocalMapLayer_menu .open_hide_btn {
  position: relative;
  cursor: pointer;
  display: block;
  /* height: 100%; */
  height: 50px;
  width: 50px;
  /* flex-shrink: 0; */
  /* color: #fff; */
  /* font-weight: bold; */
  /* transition: transform 0.3s; */
  /* transform: rotate(180deg); */
}
.LocalMapLayer_menu.hide .open_hide_btn {
  transform: rotate(0);
}
/* .LocalMapLayer_menu .open_hide_btn::before,
.LocalMapLayer_menu .open_hide_btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  display: block;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 8px;
  height: 8px;
  transform: translate(0, -50%) rotate(45deg);
} */
.LocalMapLayer_menu .open_hide_btn::before {
  left: 5px;
}
.LocalMapLayer_menu .open_hide_btn::after {
  left: 10px;
}
.LocalMapLayer_menu .item {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: 2px solid transparent;
}
.LocalMapLayer_menu .item + .item{
  margin-top: 10px;
}
.LocalMapLayer_menu .item.active {
  border-color: #fff;
}
